/* 
Note: Avoid using tag as selector use class instead 
 
*/


/* home Section */

/* login Section */

/* aboutUs Section */

/* seatBooking Section */
     .c1{
         display: flex;
     }
     .c2{
         height: 30px;
         width: 100px;
         margin-top: 15px;
         border: 2px solid gray;
         color: white;
         background-color: black;
         border-radius: 4px;
         text-align: center;
     }
     .c3{
         height: 34px;
         width: 100px;   
         margin-top: 15px;
         border: 2px solid gray;
         color: white;
         background-color: black;
         border-radius: 4px;
     }
     .c4{
         padding-left: 100px;
         padding-right: 20px;
     }
     .c5{
         padding-left: 20px;
         color: white;
     }
     .c6{
         margin-left: 100px;
         margin-top: 20px;
         padding: 10px 10px;
         color: white;
         background-color: orangered;
     }
     .c7{
         margin-top: 15px;
         border: 2px solid grey;
         color: white;
         background-color: black;
         border-radius: 4px;
         height: 30px;
     }
     .c8{
         color: orange;
         padding-left: 100px;
     }
     .c9{
         color: white;
         padding-left: 100px;
     }



/* foodMenu Section */

/* payment Section */

/* contactUs Section  */


